:root {
    --cyprus-bg-color: rgb(216, 216, 24);
    --wrong-bg-color: rgb(255,0,0);
    --right-bg-color: rgb(7, 226, 105);
}


body {
    background: lightblue;
}
svg {
    transform:scale(1.5);
    
}

p{
    height: 2.5rem;
}

.mapdiv path {
    fill: var(--cyprus-bg-color);
    stroke: white;
    stroke-width: 1px;
}

path:hover {
    /* fill:rgb(11, 19, 136); */
    opacity: 0.6;    
}

#strart-btn{ 
   z-index:1;
} 


.true {
    animation-name: true;
    animation-duration: 1000ms;
}

.false {
    animation-name: false;
    animation-duration: 1000ms;
}

.reset {
    animation-name: reset;
    animation-duration: 100ms;
}

@keyframes reset {
    from     {fill: var(--cyprus-bg-color); opacity: 1;} 
    to  {fill: var(--cyprus-bg-color); opacity: 1;}
 
}


@keyframes false {
    
    0%     {fill: var(--wrong-bg-color); opacity: 1;} 
    90%    {fill: var(--wrong-bg-color); opacity: 1;} 
    100%  {fill: var(--cyprus-bg-color); opacity: 1;}
  }
  @keyframes true {
    
     
    0%     {fill: var(--right-bg-color); opacity: 1;} 
    90%    {fill: var(--right-bg-color); opacity: 1;} 
    100%  {fill: var(--cyprus-bg-color); opacity: 1;}
  }

